body{
  font-family: Arial, Helvetica, sans-serif;
}
.a1{
    background-color: #0074ad;
}
.nav-2{
    background-color: #0c5273;
    margin-top: 75px;
}
.bg-li:hover{
    background: #564f4f;
    border-radius: 20px;
}
.input-container {
    position: relative;
    width: 100%;
  }
  .input-container .fa-search {
    position: absolute;
    top: 50%;   
    left: 10px; 
    transform: translateY(-50%);
    color: #aaa;
  }
  .input-container input {
    width: 100%;
    padding-left: 35px; 
  }
  .placeholder-white::placeholder {
    color: white;
  }
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
  }
  